.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin-left: 15px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    top: 0;
    z-index: 999;
    background: #0085a1;
    color: #fff;
    transition: all 0.5s;
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-list {
    margin-left: 10px;
}

.sidebar-list > a {
    color: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/**
* Icon color 
**/
.svg-inline--fa {
    color: teal;
}